langchain>=0.2.0
langchain-openai>=0.1.7
langchain-text-splitters>=0.2.0
langchain-pinecone>=0.1.0
pinecone-client>=3.0.0
youtube-transcript-api>=1.2.3
python-dotenv>=1.0.0
fastapi>=0.110.0
uvicorn>=0.27.0